<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
<script type="text/javascript" src="/site_media/jquery.js"></script> 
<script>

function doneLoading(){
	$.getJSON("/GetUserHistory/", gotHistory);
}

function gotHistory(data){
	var newpage = document.getElementById('historyResults');
	$.each(data, function(i, item){
		$(newpage).append("<br>"+item.type)
	});
}

$(document).ready(doneLoading);
</script>

</head>
<div id="startup">
<b>This is the stuff that has happened to you:</b>
<div id="historyResults">
</div>
<div id="venueInfo">
</div>
<div id="searchResults">
</div>
</html>

