<html>
	<head>
		<title>The Trap Game</title>
		<script type = 'text/javascript' src = "/site_media/jquery.js"></script>
		<script type="text/javascript">
$(function(){
	$("div.b").click(function(){
		$(this).slideToggle('fast');
		$("div.h").slideToggle('fast');
	});	
	$("div.h").click(function(){
		$(this).slideToggle('fast');
		$("div.b").slideToggle('fast');
	});	
});
		</script>
	</head>
	<style type='text/css'>
body{
	background-color:#000000;
	font-family:"Gill Sans", Helvetica, sans-serif;
}
h1{font-weight:heavy; font-size:300%;text-align:center; letter-spacing:-0.2em;}
h2{font-style:oblique; font-weight:normal; font-size:100%; text-align:center;}	
.a{width:25em; margin:2em auto; padding:5em; border:10px solid #000; cursor:pointer;}
div.a:hover{border:10px solid #FFEC16;}
p{font-size:75%; position:absolute; bottom:0;}
img{margin:0 auto; display:block;}
.h{display:none;}
	</style>
	<body>
		<div class ='a b'>
		<h1><img src = '/site_media/i-like-big-booby-traps.png' alt = "The Trap Game" /></h1>
		
		<h2>Coming soon to an iPhone near you&hellip;</h2>
		</div>
		
		<div class ='a h'>
		<h3>Contact</h3>
		<a href = "mailto:info@thetrapgame.com" />Email</a>
		</div>

		<p>A Roderic Campbell Production. All Rights Reserved.</p>
	</body>
</html>
