{% extends 'base.html' %}

{% block content %}
<div id = "iphone">
	<a href="http://link/to/app">
		<img src = "/site_media/images/screenshot.png" />
		<div class ='overlay'>
			<h2>got the app?</h2>
			<p>You can't have it yet! </p><p>It's not finished&hellip;</p>
		</div>	
	</a>	
</div>
<div id = "whats-happening">
	<img src = "http://maps.google.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=14&size=512x512&maptype=roadmap
&markers=color:blue|label:S|40.702147,-74.015794&markers=color:green|label:G|40.711614,-74.012318
&markers=color:red|color:red|label:C|40.718217,-73.998284&sensor=false" />
	<h2>What's happening?</h2>
</div>

{% endblock %}