{% extends 'base.html' %}

{% block content %}
<div id = "iphone">
	<a href="http://link/to/app">
		<img src = "/site_media/images/screenshot.png" />
		<div class ='overlay'>
			<h2>got the app?</h2>
			<p>You can't have it yet! </p><p>It's not finished&hellip;</p>
		</div>	
	</a>	
</div>
<div id = "whats-happening">
	<div class = 'placeholder'>
	
	</div>
	<img src = "http://maps.google.com/maps/api/staticmap?zoom=12&size=512x512&maptype=roadmap&center=37.7935,-122.4243&sensor=false&markers={{ recent }};" />
	<h2>What's happening?</h2>
</div>

<div id = "footer">
	Chilli, Spinach, and Custard pie. It's what's for dinner.
</div>	

{% endblock %}