<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
<script type="text/javascript" src="/site_media/jquery.js"></script> 
<script>

function doneLoading(){
	$.getJSON("/FindNearby/", gotNearby);
}

function buildVenueRow(item){
	var newdiv = document.createElement('div');
	$(newdiv).append("<a href=# onClick=getVenue("+item.id+")>"+item.name+"</a>")
	return newdiv
}

function pointless(){
	alert("eat it")
}

function setTrap(vid, uid){
	//TODO sending the default 1 which is a banana peel probably
	$.getJSON("/SetTrap/"+vid+"/"+1+"/"+uid+"/", searchedVenue);
}
function searchedVenue(data){
	var newpage = document.getElementById('searchResults');
	if(data.isTrapSet){
		$(newpage).empty()
		$(newpage).append("There were traps: ")
		$.each(data.damage.traps, function(i, item){
			$(newpage).append("<br>You took "+item.trapvalue+" damage from a trap called " + item.trapname)
		});
		$(newpage).append("<br>You took "+data.damage.hitpointslost+" damage. You have this many hp left " + data.damage.hitpointsleft)
		$(newpage).append("set trap? <a href=# onClick=setTrap("+data.venueid+","+data.userid+")>yes</a> <a href=# onClick=pointless()>no</a>")
	}
	else{
		$(newpage).empty()
		//alert(data)
		//alert(data.reward)
		$(newpage).append("No traps  here. You earned "+data.reward.coins + " coins you have this many total " + data.reward.usersCoinTotal+"<br>")
		$(newpage).append("set trap? <a href=# onClick=setTrap("+data.venueid+","+data.userid+")>yes</a> <a href=# onClick=pointless()>no</a>")
		//$(newpage).append(data.name+" click <a href=# onClick=searchVenue("+data.id+")> here</a> to search")
	}
}

function searchVenue(vid){
	$.getJSON("/SearchVenue/"+vid, searchedVenue);
}

function gotVenue(data){
	var newpage = document.getElementById('venueInfo');
	$(newpage).empty()
	$(newpage).append(data.name+" click <a href=# onClick=searchVenue("+data.id+")> here</a> to search")
}

function getVenue(id){
	$.getJSON("/GetVenue/"+id, gotVenue);
}

function gotNearby(data){
	var newpage = document.getElementById('nearbyVenueList');
	$.each(data, function(i, item){
		newpage.appendChild(buildVenueRow(item))
	});
	
}

$(document).ready(doneLoading);
</script>

</head>
<div id="startup">
<b>Nearby Places that are in the database:</b>
<div id="nearbyVenueList">
</div>
<div id="venueInfo">
</div>
<div id="searchResults">
</div>
</html>

